#yin-yang {
    width: 100px;
    height: 50px;
    background: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 1px 1px 51px 1px;
    border-radius: 50%;
    position: relative;
  }

  #yin-yang:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background: #fff;
    border: 19px solid #000;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  #yin-yang:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #000;
    border: 19px solid #fff;
    border-radius: 50%;
    width: 12px;
    height: 12px;

  }
